.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #e6eefc;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08);
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

h1 {
  font-size: 24px;
  color: #004a8f;
}

.btn {
  background: #0077e6;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #005bb8;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.table th {
  background: #f0f6ff;
  padding: 12px 15px;
  text-align: left;
  color: #004a8f;
  font-weight: 600;
  border-bottom: 1px solid #dce7ff;
  border-radius: 15px 15px 0 0;
}

.table td {
  background: #f9fbff;
  padding: 12px 15px;
  border-radius: 10px;
  color: #333;
  transition: 0.2s;
}

.table tr {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.table tr:hover td {
  background: #e6f0ff;
}

.btn-edit {
  background: #ffc107;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 5px;
}

.btn-edit:hover {
  background: #e0a800;
}

.btn-delete {
  background: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-delete:hover {
  background: #b02a37;
}
