/* TIPOGRAFIA */
body, html {
  font-family: 'Helvetica Neue', sans-serif !important;
  margin: 0;
  padding: 0;
}

body, p, label, button, select, input, textarea, a, span, div {
  font-family: 'Helvetica Neue', sans-serif !important;
}

/* CONTENEDOR */
.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TÍTULO */
h1 {
  font-size: 28px;
  font-weight: bold;
  color: #0097a7;
  margin-bottom: 25px;
  text-align: center; 
  margin-top: 30px; 
}

.section-title {
  width: 88%;                   
  margin: 30px auto 25px auto;  
  background-color: #0097a7;    
  padding: 40px 40px;           
  border-radius: 8px;            
  box-sizing: border-box;        
  text-align: center;            
  color: white;                  
  font-size: 28px;
  font-weight: bold;
}

/* BOTON */
.add-button-container {
  width: 88%;               
  display: flex;
  justify-content: flex-end; 
  margin-bottom: 20px;
}

.btn-agregar {
  background-color: #0097a7 !important;
  color: white !important;
  font-weight: bold;
  border-radius: 8px !important;
  padding: 8px 20px !important;
}

.btn-agregar:hover {
  background-color: #007c86 !important;
}

/* FILTROS */
.filtros {
  width: 88%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 2px;
}

.filtro-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mat-mdc-form-field {
  width: 100%;
}

.filtros input {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 4px;
}

.filtros input:hover {
  border-color: #0097a7;
}

/* SELECTS */
::ng-deep .mat-mdc-select .mat-mdc-select-trigger {
  background-color: white !important;
  color: black !important;
}

::ng-deep .mat-mdc-select-panel .mat-mdc-option {
  background-color: white !important;
  color: black !important;
}

::ng-deep .mat-mdc-select-panel .mat-mdc-option:hover {
  background-color: #0097a7 !important;
  color: white !important;
}

/* TABLA */
.table-container {
  width: 90%;              
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-top: 0px;
}

.mat-mdc-table {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.mat-header-row,
.mat-mdc-header-row {
  background-color: #0097a7 !important;
  font-family: 'Helvetica Neue', sans-serif !important;
}

.mat-header-cell,
.mat-mdc-header-cell {
  background-color: #0097a7 !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 16px;
   font-family: 'Helvetica Neue', sans-serif !important; 
}

.mat-mdc-cell {
  font-size: 16px;
}

.mat-row:hover {
  background-color: #e5f3f5 !important;
}

/* ICONOS */
.action-icon {
  font-size: 1.3rem;
  cursor: pointer;
  color: #0097a7;
  transition: 0.2s;
}

.action-icon:hover {
  color: #006d79;
  transform: scale(1.1);
}
