<h2 mat-dialog-title>Ver Movimiento</h2>

<div mat-dialog-content>

    <mat-form-field appearance="outline" style="width: 100%;" class="first-field">
      <mat-label>Fecha:</mat-label> 
      <input matInput [value]="movimiento.fecha" readonly>
    </mat-form-field>
    
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Producto:</mat-label>
      <input matInput [value]="movimiento.producto" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Tipo de Movimiento:</mat-label>
      <input matInput [value]="movimiento.tipo" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Cantidad:</mat-label>
      <input matInput type="number" [value]="movimiento.cantidad" readonly>
    </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Responsable:</mat-label>
    <input matInput [value]="movimiento.responsable" readonly>
  </mat-form-field>
</div>

<!-- BOTONES -->
<div mat-dialog-actions align="center">
  <button mat-flat-button color="primary" (click)="cerrar()">Cerrar</button>
</div>
