body,
html {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  background-color: #0097a7;
  color: white;
  text-align: center;
  padding: 15px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

body,
p,
label,
button,
select,
input,
textarea,
a,
span,
div,
table,
th,
td,
.card,
.card-body,
.btn,
.form-label,
.form-select,
.form-control,
.modal-content,
.modal-header,
.modal-body,
.modal-footer {
  font-family: 'Helvetica Neue', sans-serif !important;
  font-weight: normal;
}

.action-icon {
  font-size: 1.3rem;
  color: #0097a7;
  cursor: pointer;
  transition: 0.2s;
}

.action-icon:hover {
  color: #006d79;
  transform: scale(1.1);
}

.btn-custom {
  background-color: #0097a7 !important;
  border-color: #0097a7 !important;
  color: #fff !important;
}

.btn-custom:hover {
  background-color: #0097a7 !important;
  border-color: #0097a7 !important;
}

.btn-custom {
  background-color: #0097a7 !important;
  border-color: #0097a7 !important;
  color: #fff !important;
}

.btn-custom:hover {
  background-color: #0097a7 !important;
  border-color: #0097a7 !important;
}

.table thead th {
  background-color: #0097a7 !important;
  color: white !important;
  font-weight: normal;
}

.table th {
  border-color: #cecece !important;
}

.modal-title-custom {
  color: #0097a7 !important;
  font-weight: bold;
}

.container {
  min-height: 100vh;
}
