* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

html, body, app-root {
  height: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column; 
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}

body, p, label, button, select, input, textarea,
a, span, div, table, th, td,
.card, .card-body,
.btn, .form-label, .form-select, .form-control,
.modal-content, .modal-header, .modal-body, .modal-footer {
  font-family: 'Helvetica Neue', sans-serif !important;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', sans-serif !important;
  font-weight: bold;
}

footer {
  background-color: #0097a7;
  color: white;
  text-align: center;
  padding: 15px 0;
}
