* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif; 
  background-color: #ffffff;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* FUENTE DATEPICKER */
.mat-datepicker-content,
.mat-calendar,
.mat-calendar-body,
.mat-calendar-table,
.mat-calendar-header,
.mat-calendar-body-cell-content {
  font-family: 'Helvetica Neue', sans-serif !important;
  color: #000 !important;          
}

.mat-datepicker-content {
  background-color: #ffffff !important;
}

.mat-calendar {
  background-color: #ffffff !important;
}

.mat-calendar-body-cell-content {
  background-color: #ffffff !important;
}

.mat-calendar-header {
  background-color: #ffffff !important;
}

